.button-container button {
    font-size: 40px;
    font-family: 'EliceDigitalBaeum_Bold';
    border: none;
    background: linear-gradient(to right bottom, #b7d9e9, #86fcaf);
    color: #161616;
    outline: none;
    padding: 0 20px 0 20px;
    cursor: pointer;
    margin: 0 10px 0 10px;
    width: 7em;
    border-radius: 30px;
}
.button-container {
    margin-top: 40px;
}